* {
    box-sizing: border-box;
  }
  html, body {
      margin: 0;
      padding: 0;
      font-family: 'Raleway', sans-serif;
  }
  a{
    text-decoration:none;
  }
  .header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:100px;
    padding-bottom:0;
  }
  .logo{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100px;
    width:100px;
    font-size:2em;
    padding:1rem;
    color:#a0bec7;
    transition:all .4s ease;
    border-bottom:3px solid transparent;
  }
  .logo span:hover{
    color:#fff;
    cursor:pointer;
    transition:all .4s ease;
    border-bottom:3px solid #a0bec7;
  }
  .nav-menu{
    display:flex;
    margin-right:2rem;
    list-style-type:none;
  }
  .nav-menu li{
    text-align:center;
    text-transform:uppercase;
    font-size:.8em;
    letter-spacing:2px;
    margin:0;
  }
  .nav-menu .nav-links{
    display:inline-block;
    margin-left:50px;
    margin-right:20px;
    padding:8px;
    color:rgb(0, 0, 0);
    transition:all .4s ease;
    border-bottom:3px solid #a0bec7;
  }
  .nav-menu .nav-links:hover{
    background:#a0bec7;
    color:#fff;
    transition:all .4s ease;
    transform:scale(1.1);
  }

  .nav-links-button{
    display:inline-block;
    margin-left:10px;
    margin-right:10px;
    background-color: #a0bec7;
    border-radius: 12px;
    color:#fff;
    width: 150px;
    padding:8px;
    color:rgb(0, 0, 0);
    transition:all .4s ease;
   
  }
  .nav-links-button:hover{
    background:#c0d4da;
    color:#fff;
    transition:all .4s ease;
    transform:scale(1.1);
  }